* {
  box-sizing: border-box;
}

body {
  padding: 8px;
  font-size: $font-size-md;
  background-color: $silver;
  font-family: "MyriadPro-Light";
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  flex: 25%;
}

.col-50 {
  flex: 50%;
}

.col-10 {
  flex: 10%;
}

.col-1 {
  flex: 1%;
}

.col-75 {
  flex: 75%;
}

.col-25,
.col-50,
.col-75,
.col-10,
.col-1 {
  padding: 0 16px;
}

.inline-flex {
  display: inline-flex;
}

/* Responsive layout - when screen is less then 600px, show in separate rows*/
@media (max-width: 600px) {
  .col-50, .col-10 {
    flex: 75%;
  }
  .col-25 {
    margin-bottom: 20px;
    flex: 75%;
  }
  button.btn {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media (min-width: 1225px) {
  form {
    margin: 10px 300px 0 300px;
  }
}